button {
    background-color: black;
    border: 1px SOLID yellow;
    padding: 1em;
    border-radius: 1em;
    color: white;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: black;
    color: white;
}